@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  min-height: 100vh;
}

.mainHeader {
  background: #fff5e1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
}

.logo {
  width: 60px;
  height: 40px;
}

a {
  text-decoration: none;
  color: #273746;
}

.mainNavigation a:hover {
  color: #dc7633;
}

.mainNavigation {
  width: 65%;
}

.mainNavigation ul {
  display: flex;
  align-items: center;
}

.mainNavigation ul li {
  margin-left: 10%;
  list-style: none;
}

.bouton-header,
.bouton-header a {
  border: 0;
  background: 0;
  font-size: 1em;
  color: black;
  font-weight: bold;
}

.bouton1 {
  padding: 20px 17px;
  background: #fd7d31 !important;
  border: 0;
  border-radius: 10px;
}
.bouton1 a {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}
.bouton1:hover {
  background: #ff5733 !important;
}

#error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.mainSection {
  background: #fff5e1;
  min-height: 100svh;
}

.mainSection .mainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.phone-img {
  width: 450px;
  height: 550px;
}

.divCol-1 {
  max-width: 500px;
  padding: 20px;
}

.divCol-1 h1 {
  font-size: 2.5em;
  max-width: 350px;
  font-weight: bold;
  transition: all 1s;
}

.divCol-1 h1 span:last-of-type {
  color: #fb8e0b;
  margin-left: 10px;
  transition: all 1s;
}

.divCol-1 p {
  font-size: 10;
  font-weight: 300;
  line-height: 1;
  margin-top: 10px;
  letter-spacing: 0.1px;
}

.iconSection {
  margin-top: 20px;
}
.iconSection h5 {
  font-size: 12px;
  color: #212529;
  font-weight: 500;
}

.iconSection .icon {
  display: flex;
}

.iconSection .icon li {
  margin-right: 10px;
  list-style: none;
  margin-top: 15px;
}
.iconSection .icon li img {
  width: 34px;
  height: 34px;
}

/*-----------------------------two section--------------------*/
.sectionOther {
  min-height: 100vh;
}

.sectionOther .textStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.sectionOther .textStyle h3 {
  font-size: 35px;
  font-weight: bold;
  color: var(--bs-dark);
  padding-top: 50px;
}

.sectionOther .textStyle p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding-top: 30px;
}

.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tradeDiv {
  background: url(https://apexnetwork.co/images/coins-bg-background.webp)
    no-repeat local center / cover;
  width: 80%;
  height: 65vh;
  border-radius: 20px;
}

.tradeDiv h2 {
  font-size: 30px;
  color: var(--bs-light);
  font-weight: bold;
}

.tradeDiv p {
  font-size: 20px;
  color: var(--bs-light);
  font-weight: bold;
  margin-top: 50px;
  width: 45%;
}

.div-container .tradeDiv h2,
.para {
  position: absolute;
  padding: 30px;
}

.card .sousCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sousCard {
  margin: 10% 0;
}
.card .sousCard .card1 {
  background: url(https://apexnetwork.co/images/giftcard-bg-background.webp)
    no-repeat local center / cover;
  width: 40%;
  height: 65vh;
  border-radius: 15px;
}

.sousCard .card2 {
  background: url(https://apexnetwork.co/images/orange-bg-with-waves-payment.webp)
    no-repeat local center / cover;
  width: 40%;
  height: 65vh;
  border-radius: 15px;
}

.sousCard h1 {
  font-size: 30px;
  color: var(--bs-light);
  font-weight: bold;
}

.card-para {
  font-size: 18px;
  color: var(--bs-light);
  font-weight: bold;
  margin-top: 40px;
  width: 30rem;
  letter-spacing: 1px;
  line-height: 1.1rem;
}

.sousCard h1,
.card-para {
  position: absolute;
  padding: 30px;
}

.sectionOther2 {
  background: var(--bs-cyan);
}

.sectionOther2 .div-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.phone-image {
  width: 350px;
  height: 450px;
}

.authHeader .mainNavigation {
  display: none;
}

.authHeader {
  background: transparent;
}

.authHeader .bouton-header {
  display: none;
}
