@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.mainSectionAbout .mainRates {
  background: #060809;
  min-height: 100vh;
}
.mainDivCol img {
  width: 90px;
  height: 50px;
  border-radius: 20px;
}

.mainDivCol p,
h5 {
  color: var(--bs-light);
}

.mainSectionAbout .mainRates .sousRates .mainDivCol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 10%;
  flex-direction: column;
}

/* .divCol-1,
.divCol-2,
.divCol-3 {
  display: flex;
} */

.mainRates-1 .mainDivAbout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bs-light);
}

.mainRates-1 .sousRates-1 h2 {
  margin-bottom: 20px;
}
.sousRates-1 p {
  width: 28rem;
}

.sousRates-1 {
  display: flex;
  flex-direction: column;
}

.person-img {
  width: 448px;
  height: 672px;
  border-radius: 15px;
}

.logo-orangeRates {
  width: 448px;
  height: 440px;
}

.mainRates2 .sousRates2 h2 {
  width: 30rem;
  margin-bottom: 20px;
}
.mainRates2 .sousRates2 p {
  width: 25rem;
  text-align: justify;
}

.mainRates2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 10%;
}
